* {
    display: inline-block;
}
.purplebox {
background-color: rgb(98, 33, 172);
height: 100px;
width: 35px;
margin-top: 40px;
margin-right: 30px;
}

.greenbox {
background-color: green;
height: 130px;
width: 250px;
}

.bluecircle {
background-color:lightskyblue;
height: 130px;
width: 130px;
border-radius: 100px;
margin-left: 30px;
}

.solidborder {
border: 3px solid black; 
height: 150px;
width: 700px;
padding: 7px;
float: left;
}

.yellowbox {
background-color: rgb(247, 241, 192);
margin: 20px 0px 10px 40px;
height: 110px;
width: 610px;
box-shadow: 5px 5px 2px black;
}

.dottedborder {
    border: 2px dotted black; 
    height: 150px;
    width: 700px;
    padding: 7px;
}

.flashcard {
    font-family: 'Jomolhari', serif;
    font-weight: 1000;
    color: navy;
    letter-spacing: 4px;
    text-align: center;
    border: 1px solid rgb(206, 198, 198);
    padding: 50px 100px;
    margin-left: 230px;
    box-shadow: 2px 2px 2px lightgray;
}